@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root {
    --back_1: rgba(31, 32, 48, 1);
    --back__g: rgba(127, 23, 208, 1);
    --back__g2: rgba(208, 23, 123, 1); 
    --btn-color: rgba(40, 182, 246, 1);
    --font-color: rgba(255, 255, 255, 1);   
    --poppins: 'Poppins', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    display: flex;
}

.main__left {
    width: 45%;
    background-color: var(--back_1);
    padding: 0 85px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 31px;
}

.main__left h1 {
    color: #FFF;
    font-family: var(--poppins);
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 66.75px;
    text-align: center;
}

.main__left p {
    color: #FFF;
    text-align: center;
    font-family: var(--poppins);
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.main__left a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: var(--btn-color);
    border-radius: 100px;
    width: 493px;
    padding: 11px;
    gap: 10px;
}

.main__left a img {
    width: 32px;
    height: 32px;
}

.main__left a li {
    list-style: none;
    color: #FFF;
    text-align: center;
    font-family: var(--poppins);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.main__right {
    display: flex;
    justify-content: end;
    align-items: end;
    width: 55%;
    position: relative;
    background: linear-gradient(to top, var(--back__g2), var(--back__g) 55%);
}

.main__right img {
    width: 90%;
}



@media screen and (min-width: 1900px) {
    .container {
       width: 1500px;
       margin: auto;
    }
}

@media screen and (max-width: 1473px) {
    .main__left {
        padding: 0 40px;
    }
}

@media screen and (max-width: 1273px) {
    .main__left {
        padding: 0 20px;
    }
}

@media screen and (max-width: 1184px) {
    .main__left {
        width: 50%;
    }

    .main__right {
        width: 50%;
    }


}

@media screen and (max-width: 1065px) {
    .main__left h1{
        font-size: 40px;
    }

    .main__left p{
        font-size: 20px;
    }

    .main__left a {
        width: 100%;
    }

    .main__right img {
        width: 95%;
    }
}

@media screen and (max-width: 600px) {
    .main {
       flex-direction: column;
    }

    .main__left {
        width: 100%;
        gap: 18px;
        padding: 70px 30px 63px 30px;
    }

    .main__left h1 {
        line-height: 42px;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
    }

    .main__right {
        width: 100%;
    }

    .main__right img {
        width: 100%;
    }
}